.ant-select {
  width: 200;
  margin-right: 2em;
}

.day-shifter {
  display: flex;
  justify-content: center;
  margin-left: 10em;
  margin-top: 1em;
}

.day-shifter-icon {
  font-size: 25px;
  width: 30px !important;
  height: 30px !important;
}

.day-shifter-icon :hover {
  background-color: #e0ebff;
  width: 28px !important;
  height: 28px !important;
  border-radius: 0.3em;
}

.ant-input-search {
  width: 200px !important;
  margin-left: auto !important;
  margin-right: 2em !important;
}

#search-input {
  width: 194px !important;
  margin-left: auto !important;
  margin-right: 2em !important;
}

@media (max-width: 1366px) {
  .ant-select {
    margin-bottom: 1em !important;
  }
  .tools-container {
    width: 100% !important;
  }
  .day-shifter {
    margin-left: 1em;
  }
  .ant-input-search {
    margin-left: 1em !important;
  }
  .tools-container {
    height: 100% !important;
  }
  .tools-container {
    width: 100% !important;
  }
}

@media (max-height: 800px) {
  .tools-container {
    display: flex;
    flex-direction: column;
  }
}
