.ant-layout-content {
  height: 100vh !important;
}

@media (max-width: 813px) {
  .ant-layout-content {
    width: 100% !important;
  }
  .ant-layout-content {
    height: 100% !important;
  }
}

@media (max-height: 800px) {
  .ant-layout-content {
    height: 100% !important;
  }
}
